<div class="header-component">
    <a href="/"><img class="logo" src="../../../assets/youtube-logo.svg" alt=""></a>
    <div class="search-container">
        <input [value]="searchText" (input)="handleSearchtextChange($event)" (keyup.enter)="handleSearch()" placeholder="Search" type="text">
        <button  (click)="handleSearch()"><mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search">search</mat-icon></button>
    </div>
    <div class="videocall">
        <button *ngIf="user" (click)="handleAddVideo()" mat-fab color="grey" aria-label="Video Call">
            <mat-icon [ngStyle]="{'display':'block'}">video_call</mat-icon>
        </button>
        <ng-template #loggedInTemplate>
            <img [src]="photoUrl">
            <button mat-raised-button (click)="logout()">Log Out</button>
        </ng-template>
        <button *ngIf="!user; else loggedInTemplate" mat-raised-button (click)="login()">Login</button>
    </div>
</div>
<hr>