.notsubscribe{
    height: 100vh;
}
.video-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.video-details-container {
    display: flex;
    align-items: start;
    width: 400px;
}

.video-details-container img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    padding: 5px;
}

.video-title {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.video-title-h {
    font-size: 1.5rem;
    font-weight: 500;
}

.video-title p {
    margin: 0;
}