<app-header (addVideo)="handleUploadVideoPopup()"></app-header>
<app-upload-video *ngIf="!uploadVideoPopup" (closeAddvideo)="handleUploadVideoPopup()"></app-upload-video>

<div class="details-container">
    <div *ngFor="let currentVideo of currentVideos" class="video-container">
        <video width="900" height="540" autoplay muted controls>
            <source [src]="currentVideo.video">
        </video>
        <p class="video-title-h">{{ currentVideo?.title }}</p>

        <div class="container">
            <div class="video-details-container">
                <img [src]="currentVideo.photoURL">
                <div class="video-title">
                    <p>{{ currentVideo?.channelName}}</p>
                    <p>{{timeStamp(currentVideo.time)}}</p>
                </div>
                <div *ngIf="currentVideo.user_id != user?.uid">
                    <button *ngIf="!isSubscribed" mat-raised-button (click)="handleSubscribe(currentVideo.user_id, user?.uid)"
                        class="subscribe-btn">Subscribe</button>
                    <button *ngIf="isSubscribed" mat-raised-button (click)="handleUnsubscribe(currentVideo.user_id, user?.uid)"
                        class="subscribe-btn">Unsubscribe</button>
                </div>
            </div>
            <div class="like-btn-container">
                <button [disabled]="likeUp" (click)="handlelike('like')" mat-raised-button class="likebutton">
                    <mat-icon aria-hidden="false" aria-label="Like icon" fontIcon="thumb_up"></mat-icon>
                    {{likesCount}}
                </button>
                <button [disabled]="likeDown" (click)="handlelike('dislike')" mat-raised-button class="dislikebutton">
                    <mat-icon aria-hidden="false" aria-label="Dislike icon" fontIcon="thumb_down"></mat-icon>
                </button>
            </div>
        </div>
        <div class="description-container">
            <p class="views">{{ currentVideo.tags}}</p>
            <p class="description">{{ currentVideo?.description }}</p>
        </div>
        <div class="comment-container">
            <h4>{{comments.length}} Comments</h4>
            <div class="comment-input">
                <img class="userIcon" [src]="photoURL">
                <div class="comment-input-btn">
                    <mat-form-field>
                        <input (keyup.enter)="handleComments()" [(ngModel)]="commentText"
                            (input)="handleCommentTextChange($event)"
                            [placeholder]="user ? 'Add a Comment...' : 'Login to Comment'" matInput>
                    </mat-form-field>
                    <div *ngIf="commentBtn" class="btn">
                        <button *ngIf="user" mat-raised-button (click)="cancelComment()"> Cancel </button>
                        <button *ngIf="user; else loginTemplate" (click)="handleComments()" color="primary" mat-raised-button
                            [disabled]="commentText.length < 1"> Comment </button>
                        <ng-template #loginTemplate><button mat-raised-button (click)="handLogintoComment()">Login to Comment</button></ng-template>
                    </div>
                </div>
            </div>
            <div *ngFor="let comment of comments">
                <div class="comments">
                    <img class="userIcon" [src]="comment.photoURL">
                    <div class="comment">
                        <p> <strong> &#64; {{comment.userName}}</strong> {{timeStamp(comment.timestamp.toDate())}}</p>
                        <span>{{comment.commentText}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-video-container">
        <div *ngFor="let video of relatedVideos" class="related-video">
            <img (click)="handleCurrentVideo(video.id)" [src]=" video.thumbnail" alt="">
            <div (click)="handleCurrentVideo(video.id)" class="video-title-container">
                <h3>{{video.title}}</h3>
                <p>{{video.channelName}}</p>
                <p>{{timeStamp(video.time)}}</p>
            </div>
        </div>
    </div>
</div>