<app-header (searchVideos)="searchVideos($event)" (addVideo)="handleUploadVideoPopup()"></app-header>

<app-upload-video (videoUploaded)="handlefetchAllVideos()" *ngIf="!uploadVideoPopup"
    (closeAddvideo)="handleUploadVideoPopup()"></app-upload-video>

<mat-drawer-container class="example-container">

    <!-- Drawer -->
    <mat-drawer mode="side" opened="true">
        <div class="drawer-container">
            <div [ngStyle]="{'background-color': tab === '' ? '#f2f2f2' : ''}" (click)="handleswitch('')">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <span>Home</span>
            </div>
            <div [ngStyle]="{'background-color': tab === 'subscription' ? '#f2f2f2' : ''}"
                (click)="handleswitch('subscription')">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="subscriptions"></mat-icon>
                <span>Subscriptions</span>
            </div>
            <div [ngStyle]="{'background-color': tab === 'videos' ? '#f2f2f2' : ''}" (click)="handleswitch('videos')">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="smart_display"></mat-icon>
                <span>Your Videos</span>
            </div>
        </div>
    </mat-drawer>

    <!-- Main -->

    <mat-drawer-content [ngSwitch]="tab">
        <app-subscription *ngSwitchCase=" 'subscription' "></app-subscription>
        <app-yourvideos *ngSwitchCase="'videos'"></app-yourvideos>

        <div *ngSwitchDefault [ngStyle]="{'margin':'0 1rem'}" class="video-container">
            <div [ngStyle]="{'height':'90vh'}" *ngIf="filteredVideos.length === 0; else videoList">
                <p>No videos matched the search text.</p>
            </div>
            <ng-template #videoList>
                <div *ngFor="let video of filteredVideos">
                    <div [routerLink]="['/details', video.user_id, video.id]">
                        <img [ngStyle]="{'height':'225px', 'width':'400px', 'cursor':'pointer'}"
                            [src]="video.thumbnail">
                    </div>
                    <div class="video-details-container">
                        <img [src]="video.photoURL">

                        <div class="video-title" [routerLink]="['/details', video.user_id, video.id]">
                            <p class="video-title-h">{{video.title}}</p>
                            <p>{{video.channelName}}</p>
                            <p>{{timeStamp(video.time)}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </mat-drawer-content>
</mat-drawer-container>